.header {
   color: white;
   background-color: #A52A2A;
   text-align: center; 
}
.container-image {
    width: 100%;
}
.container-cars-images {
    text-align: center; 
}
.footer {
    
    background-color: black; 
}
.copytight {
    text-align: center;
    color:white;
    font-size: 20px;
}
.body {
    
}
.colortext {
    color: blue;
}
.lorem {
    font-size: 18px;
}